.login > h1 {
    text-align: center;
    color: #88abda;
}

.login > div > a {
    float: right;
    margin-top: 4%;
    text-align: center;
    color: gray;
}

.login > div > h2 {
    text-align: center;
    color: #88abda;
}

.login > div > p {
    text-align: center;
    color: #88abda;
}

.login > div.mdiv {
    margin: 1% 30% 1% 30%;
    padding: 2% 10% 4% 10%;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.login > div.mdiv > div.roles {
    clear: both;
    margin: 0%;
}

.login > div.mdiv > div.roles > p {
    margin-left: 4%;
}

.login > div.mdiv > div.roles > button.btn_chosen {
    padding: 5% 0 5% 0;
    margin-left: 4%;
    float: left;
    background-color: #88abda;
    color: #f4f4f4;
    border: none;
    width: 44%;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.75;
}

.login > div.mdiv > div.roles > button.btn_unchosen {
    padding: 5% 0 5% 0;
    margin-left: 4%;
    float: left;
    border: #88abda solid 1px;
    color: #88abda;
    width: 44%;
    cursor: pointer;
    border-radius: 5px;
}

.login > div.mdiv > div.inputs {
    clear: both;
    margin-top: 30%;
}

.login > div.mdiv > div.inputs > div {
    margin-top: 3%;
    text-align: center;
}

.login > div.mdiv > div.inputs > div > input {
    width: 90%;
    padding: 1%;
    margin-bottom: 1%;
}

.login > div.mdiv > button {
    margin-top: 10%;
    padding: 5% 0 5% 0;
    background-color: #88abda;
    color: #f4f4f4;
    border: none;
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
    border-radius: 5px;
}