.platform > div.business {
    margin: 3%;
}

.platform > div.business > div.business_item {
    float: left;
    background-color: #e9e9e9;
    width: 23%;
    text-align: center;
    cursor: pointer;
    margin: 0 1% 0 1%;
    padding: 3% 0 3% 0;
    border-radius: 3%;
}

.platform > div.navigation {
    float: left;
    margin: 3%;
    color: gray;
}

.platform > div.navigation > a {
    text-decoration: none;
    color: #88abda;
}