.platform > div.course_preview {
    margin: 3%;
}

.platform > h1 {
    clear: both;
    text-align: center;
    color: #88abda;
}

.platform > a {
    clear: both;
    float: right;
    text-align: right;
    color: #88abda;
    margin-right: 5%;
}

.platform > div.course_preview > div.course {
    float: left;
    width: 22%;
    margin-left: 2.4%;
    margin-top: 1%;
    background-color: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
}

.platform > div.course_preview > div.course > p.title {
    color: #88abda;
    text-align: center;
}

.platform > div.course_preview > div.course > div.v1 {
    padding: 5%;
}

.platform > div.course_preview > div.course > div.v1 > p {
    float: left;
}

.platform > div.course_preview > div.course > div.v1 > p.start_time {
    font-weight: bold;
}

.platform > div.course_preview > div.course > div.v1 > p.duration {
    margin-left: 3%;
}

.platform > div.course_preview > div.course > div.v1 > p.price {
    float: right;
    text-align: right;
    margin-left: 3%;
    color: red;
}

.platform > div.course_preview > div.course > div.v2 {
    clear: both;
    padding: 5%;
}

.platform > div.course_preview > div.course > div.v2 > p.sales {
    float: right;
    text-align: right;
}

.platform > div.course_preview > div.course > div.v2 > p.tch {
    float: left;
    text-align: left;
}

.platform > div.course_preview > div.course > a {
    color: #88abda;
}


.platform > div.navigation {
    float: left;
    margin: 3%;
    color: gray;
}

.platform > div.navigation > a {
    text-decoration: none;
    color: #88abda;
}

.platform > div > table {
    line-height: 200%;
}